In [1]:
import pandas as pd
import numpy as np
import win32com.client
import re
import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import sqlalchemy
import mysql.connector

1. ####  Create file with list of required packages

In [2]:
with open('requirements.txt', 'w') as f:
    f.write('\n'.join(f'{m.__name__}=={m.__version__}' for m in globals().values() if getattr(m, '__version__', None)))

2. #### Downlaod email attachment

In [3]:
def read_email():
    outlook_mail_client = win32com.client.Dispatch('Outlook.Application').GetNamespace('MAPI')
    inbox = outlook_mail_client.GetDefaultFolder(6)
    messages = inbox.Items
    path = 'E:/ACTIVE/Python/experian_data-service'
    message = messages.GetFirst()
    today_date = str(datetime.date.today())
    while True:
        try:
            email_subject = 'SUBJECT-TITLE'
            subject = str(message.Subject).lower()

           # Search email with subject

            if re.search(email_subject, subject) != None:
                attachments = message.Attachments
                attachment = str(attachments.Item(1)).lower()
                attachment.SaveASFile(path + '\\' + attachment_name)
            else:
                pass
            message = messages.GetNext()
        except:
            message = messages.GetNext()
    exit

In [4]:
#read_email()

4. #### Read IBRD dataset

In [5]:
def read_data(filename):
    if filename.endswith('csv'):
        df = pd.read_csv(filename)
    return df

In [6]:
filepath = os.getenv('file_path')
filename = os.environ.get('file_name')
data =  read_data(filepath+filename)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8986 entries, 0 to 8985
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   End of Period                 8986 non-null   object
 1   Loan Number                   8986 non-null   object
 2   Region                        8986 non-null   object
 3   Country Code                  8984 non-null   object
 4   Country                       8986 non-null   object
 5   Borrower                      8929 non-null   object
 6   Guarantor Country Code        8704 non-null   object
 7   Guarantor                     8706 non-null   object
 8   Loan Type                     8986 non-null   object
 9   Loan Status                   8986 non-null   object
 10  Interest Rate                 8865 non-null   float64
 11  Currency of Commitment        0 non-null      float64
 12  Project ID                    8660 non-null   object
 13  Project Name                  8660 non-null   object
 14  Original Principal Amount     8986 non-null   float64
 15  Cancelled Amount              8986 non-null   float64
 16  Undisbursed Amount            8986 non-null   float64
 17  Disbursed Amount              8986 non-null   float64
 18  Repaid to IBRD                8986 non-null   float64
 19  Due to IBRD                   8986 non-null   float64
 20  Exchange Adjustment           8986 non-null   float64
 21  Borrower's Obligation         8986 non-null   float64
 22  Sold 3rd Party                8986 non-null   float64
 23  Repaid 3rd Party              8986 non-null   float64
 24  Due 3rd Party                 8986 non-null   float64
 25  Loans Held                    8986 non-null   float64
 26  First Repayment Date          8923 non-null   object
 27  Last Repayment Date           8924 non-null   object
 28  Agreement Signing Date        8850 non-null   object
 29  Board Approval Date           8986 non-null   object
 30  Effective Date (Most Recent)  8909 non-null   object
 31  Closed Date (Most Recent)     8978 non-null   object
 32  Last Disbursement Date        5166 non-null   object
dtypes: float64(14), object(19)
memory usage: 2.3+ MB

In [8]:
# 303 loans with zero principal
zero_principal = data[data["Original Principal Amount"] == 0].shape[0]
zero_principal

303

In [9]:
# 2437 loans with zero interest
zero_interest = data[data["Interest Rate"] == 0].shape[0]
zero_interest

2437

In [10]:
#Loan type and status summary
loan_status = data['Loan Status'].value_counts()
loan_type= data['Loan Type'].value_counts()

5. #### Data cleaning

In [11]:
# Convert date time fields from  object data type to datetime data type
date_fields = ['End of Period', 'First Repayment Date', 'Last Repayment Date', 'Agreement Signing Date', 'Board Approval Date', 'Effective Date (Most Recent)', 'Closed Date (Most Recent)', 'Last Disbursement Date']
for field in date_fields:
    data[field] = pd.to_datetime(data[field])

In [12]:
data.head(2)

,End of Period,Loan Number,Region,Country Code,Country,Borrower,Guarantor Country Code,Guarantor,Loan Type,Loan Status,...,Repaid 3rd Party,Due 3rd Party,Loans Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
0,2020-11-30,IBRD00010,EUROPE AND CENTRAL ASIA,FR,France,CREDIT NATIONAL,FR,France,NPL,Fully Repaid,...,249962000.0,0.0,0.0,1952-11-01,1977-05-01,1947-05-09,1947-05-09,1947-06-09,1947-12-31,NaT
1,2020-11-30,IBRD00020,EUROPE AND CENTRAL ASIA,NL,Netherlands,NaN,NaN,NaN,NPL,Fully Repaid,...,87672000.0,0.0,0.0,1952-04-01,1972-10-01,1947-08-07,1947-08-07,1947-09-11,1948-03-31,NaT

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8986 entries, 0 to 8985
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   End of Period                 8986 non-null   datetime64[ns]
 1   Loan Number                   8986 non-null   object
 2   Region                        8986 non-null   object
 3   Country Code                  8984 non-null   object
 4   Country                       8986 non-null   object
 5   Borrower                      8929 non-null   object
 6   Guarantor Country Code        8704 non-null   object
 7   Guarantor                     8706 non-null   object
 8   Loan Type                     8986 non-null   object
 9   Loan Status                   8986 non-null   object
 10  Interest Rate                 8865 non-null   float64
 11  Currency of Commitment        0 non-null      float64
 12  Project ID                    8660 non-null   object
 13  Project Name                  8660 non-null   object
 14  Original Principal Amount     8986 non-null   float64
 15  Cancelled Amount              8986 non-null   float64
 16  Undisbursed Amount            8986 non-null   float64
 17  Disbursed Amount              8986 non-null   float64
 18  Repaid to IBRD                8986 non-null   float64
 19  Due to IBRD                   8986 non-null   float64
 20  Exchange Adjustment           8986 non-null   float64
 21  Borrower's Obligation         8986 non-null   float64
 22  Sold 3rd Party                8986 non-null   float64
 23  Repaid 3rd Party              8986 non-null   float64
 24  Due 3rd Party                 8986 non-null   float64
 25  Loans Held                    8986 non-null   float64
 26  First Repayment Date          8923 non-null   datetime64[ns]
 27  Last Repayment Date           8924 non-null   datetime64[ns]
 28  Agreement Signing Date        8850 non-null   datetime64[ns]
 29  Board Approval Date           8986 non-null   datetime64[ns]
 30  Effective Date (Most Recent)  8909 non-null   datetime64[ns]
 31  Closed Date (Most Recent)     8978 non-null   datetime64[ns]
 32  Last Disbursement Date        5166 non-null   datetime64[ns]
dtypes: datetime64[ns](8), float64(14), object(11)
memory usage: 2.3+ MB

In [14]:
def  connect_database():
    
        engine_stmt = 'mysql+pymysql://root:@localhost/test'
        engine = sqlalchemy.create_engine(engine_stmt)
        conn = mysql.connector.connect(user='root', password='', host='127.0.0.1', database='test')
        return conn

In [19]:
def  country_data():
        engine = connect_database()
        country_df = data[['Country', 'Region', 'Country Code']].drop_duplicates(subset="Country Code")
        historical_data = pd.read_sql("SELECT country FROM experian_country",engine)
        new_data = country_df[~country_df['Country'].isin(historical_data['country'].tolist())].fillna("---")
        return new_data

In [21]:
def  country_service():
        country_dataframe = country_data()
        connection = connect_database()
        cursor = connection.cursor()
        for i,row in country_dataframe.iterrows():
            sql = "INSERT INTO experian_country (`country`, `region`, `country_code`)" " VALUES (%s,%s,%s )"
            values = (row[0], row[1], row[2])
            cursor.execute(sql, tuple(values)) 
            connection.commit()

In [22]:
#country_service()