In [1]:
import pandas as pd
import numpy as np
import win32com.client
import re
import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import sqlalchemy
import mysql.connector

1. ####  Create file with list of required packages

In [2]:
with open('requirements.txt', 'w') as f:
    f.write('\n'.join(f'{m.__name__}=={m.__version__}' for m in globals().values() if getattr(m, '__version__', None)))

2. #### Downlaod email attachment

In [3]:
def download_dataset():
    outlook_mail_client = win32com.client.Dispatch('Outlook.Application').GetNamespace('MAPI')
    inbox = outlook_mail_client.GetDefaultFolder(6)
    messages = inbox.Items
    path = 'E:/ACTIVE/Python/experian_data-service'
    message = messages.GetFirst()
    today_date = str(datetime.date.today())
    while True:
        try:
            email_subject = 'SUBJECT-TITLE'
            subject = str(message.Subject).lower()

           # Search email with subject

            if re.search(email_subject, subject) != None:
                attachments = message.Attachments
                attachment = str(attachments.Item(1)).lower()
                attachment.SaveASFile(path + '\\' + attachment_name)
            else:
                pass
            message = messages.GetNext()
        except:
            message = messages.GetNext()
    exit

In [4]:
#download_dataset()

4. #### Read IBRD dataset

In [5]:
def read_data(filename):
    if filename.endswith('csv'):
        df = pd.read_csv(filename)
    return df

5. #### Data cleaning

In [6]:
filepath = os.getenv('file_path')
filename = os.environ.get('file_name')
full_file_name = filepath+filename

database_host=os.getenv("DB_HOST")
database_name=os.getenv('DB_NAME')
database_user=os.getenv('DB_USERNAME')

In [7]:
# remove apostrophe from column name "Borrower's Obligation"
# Convert date time fields from  object data type to datetime data type
def clean_data():
    dataset = read_data(full_file_name)
    dataset.columns = dataset.columns.str.replace("'", "")
    date_fields = ['End of Period', 'First Repayment Date', 'Last Repayment Date', 'Agreement Signing Date', 'Board Approval Date', 'Effective Date (Most Recent)', 'Closed Date (Most Recent)', 'Last Disbursement Date']
    for field in date_fields:
        dataset[field] = pd.to_datetime(dataset[field])
    return dataset

In [8]:
def  connect_database():
        #engine_stmt = 'mysql+pymysql://USERNAME:PASSWORD@HOST/DATABASE'
        #engine = sqlalchemy.create_engine(engine_stmt)
        conn = mysql.connector.connect(user=database_user, password='', host=database_host, database=database_name)
        return conn

 6.   #### ETL Processs  
      
      Country

In [9]:
def  country_data():
        engine = connect_database()
        data = clean_data()
        country_df = data[['Country', 'Region', 'Country Code']].drop_duplicates(subset="Country Code")
        historical_countrydata = pd.read_sql("SELECT country FROM experian_country",engine)
        new_data = country_df[~country_df['Country'].isin(historical_countrydata['country'].tolist())].fillna("---")
        return new_data

In [10]:
def  country_service():
        country_dataframe = country_data()
        connection = connect_database()
        cursor = connection.cursor()
        for i,row in country_dataframe.iterrows():
            sql = "INSERT INTO experian_country (`country`, `region`, `country_code`)" " VALUES (%s,%s,%s )"
            values = (row[0], row[1], row[2])
            cursor.execute(sql, tuple(values)) 
            connection.commit()
            #cursor.close()
            #connection.close()

In [11]:
#country_service()

6.   #### ETL Processs  
      
      Loan

In [12]:
def  loan_data():
        engine = connect_database()
        data = clean_data()
        loan_df = data[['End of Period', 'Loan Number', 'Country Code', 'Guarantor Country Code','Loan Type','Loan Status','Interest Rate','Currency of Commitment']].drop_duplicates(subset="Loan Number")
        historical_loandata = pd.read_sql("SELECT loan_number FROM experian_loan",engine)
        new_loan_data = loan_df[~loan_df['Loan Number'].isin(historical_loandata['loan_number'].tolist())].fillna("---")
        return new_loan_data

In [13]:
def  loan_service():
        loan_df = loan_data()
        connection = connect_database()
        cursor = connection.cursor()
        for i,row in loan_df.iterrows():
            sql = "INSERT INTO experian_loan(`end_period`,`loan_number` ,`country_code` ,`guarantor_country_code` ,`loan_type`,`loan_status`,`interest_rate` ,`currency_of_commitment`,`source_file_name`)" " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            values = (row[0], row[1], row[2],row[3],row[4], row[5], row[6], row[7], full_file_name)
            cursor.execute(sql, tuple(values)) 
            connection.commit()
            #cursor1.close()
            #connection.close()

In [14]:
#loan_service()

6.   #### ETL Processs  
      
      Project

In [15]:
def  project_data():
        engine = connect_database()
        data = clean_data()
        project_df = data[['Loan Number','Project ID','Project Name','Original Principal Amount','Cancelled Amount','Undisbursed Amount','Disbursed Amount','Repaid to IBRD','Due to IBRD','Exchange Adjustment',           
                           'Borrowers Obligation','Sold 3rd Party','Repaid 3rd Party','Due 3rd Party','Loans Held','First Repayment Date','Last Repayment Date','Agreement Signing Date','Board Approval Date',           
                           'Effective Date (Most Recent)','Closed Date (Most Recent)','Last Disbursement Date']]
        historical_projectdata = pd.read_sql("SELECT loan_id FROM experian_project",engine)
        new_project_data = project_df[~project_df['Loan Number'].isin(historical_projectdata['loan_id'].tolist())].fillna("---")
        return new_project_data

In [16]:
def  project_service():
        project_df = project_data()
        connection = connect_database()
        cursor = connection.cursor()
        for i,row in project_df.iterrows():
            sql = "INSERT INTO experian_project(`project_id`,`project_name`,`original_principal_amount`,`cancelled_amount`,`undisbursed_amount`,`disbursed_amount`,`repaid_to_IBRD`,`due_to_IBRD`,`exchange_adjustment`,`borrowers_obligation`,`sold_3rd_party`,`repaid_3rd_party`,`due_3rd_party`,`loans_held`,`first_repayment_date`,`last_repayment_date`,`agreement_signing_date`,`board_approval_date`,`effective_date`,`closed_date`, `last_disbursement_date`, `loan_id`)" " VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            values = (row[1], row[2],row[3],row[4], row[5], row[6], row[7], row[8], row[9], row[10],row[11],row[12], row[13], row[14], row[15],row[16],row[17], row[18], row[19], row[20],row[21],row[0])
            cursor.execute(sql, tuple(values)) 
            connection.commit()

In [17]:
project_data()

Empty DataFrame
Columns: [Loan Number, Project ID, Project Name, Original Principal Amount, Cancelled Amount, Undisbursed Amount, Disbursed Amount, Repaid to IBRD, Due to IBRD, Exchange Adjustment, Borrowers Obligation, Sold 3rd Party, Repaid 3rd Party, Due 3rd Party, Loans Held, First Repayment Date, Last Repayment Date, Agreement Signing Date, Board Approval Date, Effective Date (Most Recent), Closed Date (Most Recent), Last Disbursement Date]
Index: []

[0 rows x 22 columns]